
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
out/build/x64-Debug/.cmake/api/v1/query/client-MicrosoftVS/query.json
out/build/x64-Debug/.cmake/api/v1/reply/cache-v2-6bc97d0428d44aa6823c.json
out/build/x64-Debug/.cmake/api/v1/reply/cmakeFiles-v1-735bf77e6f6c25903968.json
out/build/x64-Debug/.cmake/api/v1/reply/codemodel-v2-e853c4f312f643893486.json
out/build/x64-Debug/.cmake/api/v1/reply/index-2021-07-14T07-47-37-0416.json
out/build/x64-Debug/.cmake/api/v1/reply/target-Client-Debug-c6475b9c86269595426a.json
out/build/x64-Debug/.cmake/api/v1/reply/target-PlatformSDL2-Debug-73391863e48d57a1b5e8.json
out/build/x64-Debug/.cmake/api/v1/reply/toolchains-v1-94a229cb921bcef4d0e9.json
out/build/x64-Debug/build.ninja
out/build/x64-Debug/cmake_install.cmake
out/build/x64-Debug/CMakeCache.txt
out/build/x64-Debug/CMakeFiles/3.20.21032501-MSVC_2/CMakeCCompiler.cmake
out/build/x64-Debug/CMakeFiles/3.20.21032501-MSVC_2/CMakeCXXCompiler.cmake
out/build/x64-Debug/CMakeFiles/3.20.21032501-MSVC_2/CMakeDetermineCompilerABI_C.bin
out/build/x64-Debug/CMakeFiles/3.20.21032501-MSVC_2/CMakeDetermineCompilerABI_CXX.bin
out/build/x64-Debug/CMakeFiles/3.20.21032501-MSVC_2/CMakeRCCompiler.cmake
out/build/x64-Debug/CMakeFiles/3.20.21032501-MSVC_2/CMakeSystem.cmake
out/build/x64-Debug/CMakeFiles/3.20.21032501-MSVC_2/CompilerIdC/CMakeCCompilerId.c
out/build/x64-Debug/CMakeFiles/3.20.21032501-MSVC_2/CompilerIdC/CMakeCCompilerId.exe
out/build/x64-Debug/CMakeFiles/3.20.21032501-MSVC_2/CompilerIdC/CMakeCCompilerId.obj
out/build/x64-Debug/CMakeFiles/3.20.21032501-MSVC_2/CompilerIdCXX/CMakeCXXCompilerId.cpp
out/build/x64-Debug/CMakeFiles/3.20.21032501-MSVC_2/CompilerIdCXX/CMakeCXXCompilerId.exe
out/build/x64-Debug/CMakeFiles/3.20.21032501-MSVC_2/CompilerIdCXX/CMakeCXXCompilerId.obj
out/build/x64-Debug/CMakeFiles/cmake.check_cache
out/build/x64-Debug/CMakeFiles/CMakeOutput.log
out/build/x64-Debug/CMakeFiles/rules.ninja
out/build/x64-Debug/CMakeFiles/ShowIncludes/foo.h
out/build/x64-Debug/CMakeFiles/ShowIncludes/main.c
out/build/x64-Debug/CMakeFiles/ShowIncludes/main.obj
out/build/x64-Debug/CMakeFiles/TargetDirectories.txt
out/build/x64-Debug/Platform/SDL2/cmake_install.cmake
out/build/x64-Debug/Testing/Temporary/LastTest.log
out/build/x64-Debug/VSInheritEnvironments.txt
out/build/x64-Release/.cmake/api/v1/query/client-MicrosoftVS/query.json
out/build/x64-Release/.cmake/api/v1/reply/cache-v2-e0eb393a1e89f25e5476.json
out/build/x64-Release/.cmake/api/v1/reply/cmakeFiles-v1-05a0b03cf1e35da84381.json
out/build/x64-Release/.cmake/api/v1/reply/codemodel-v2-ac544d0baa576fb7cdf0.json
out/build/x64-Release/.cmake/api/v1/reply/index-2021-07-14T15-44-14-0062.json
out/build/x64-Release/.cmake/api/v1/reply/target-Client-RelWithDebInfo-9944c34863e6c58b7ee7.json
out/build/x64-Release/.cmake/api/v1/reply/target-PlatformSDL2-RelWithDebInfo-3ed1d98ef994432cc0aa.json
out/build/x64-Release/.cmake/api/v1/reply/toolchains-v1-94a229cb921bcef4d0e9.json
out/build/x64-Release/.ninja_deps
out/build/x64-Release/.ninja_log
out/build/x64-Release/build.ninja
out/build/x64-Release/cmake_install.cmake
out/build/x64-Release/CMakeCache.txt
out/build/x64-Release/CMakeFiles/3.20.21032501-MSVC_2/CMakeCCompiler.cmake
out/build/x64-Release/CMakeFiles/3.20.21032501-MSVC_2/CMakeCXXCompiler.cmake
out/build/x64-Release/CMakeFiles/3.20.21032501-MSVC_2/CMakeDetermineCompilerABI_C.bin
out/build/x64-Release/CMakeFiles/3.20.21032501-MSVC_2/CMakeDetermineCompilerABI_CXX.bin
out/build/x64-Release/CMakeFiles/3.20.21032501-MSVC_2/CMakeRCCompiler.cmake
out/build/x64-Release/CMakeFiles/3.20.21032501-MSVC_2/CMakeSystem.cmake
out/build/x64-Release/CMakeFiles/3.20.21032501-MSVC_2/CompilerIdC/CMakeCCompilerId.c
out/build/x64-Release/CMakeFiles/3.20.21032501-MSVC_2/CompilerIdC/CMakeCCompilerId.exe
out/build/x64-Release/CMakeFiles/3.20.21032501-MSVC_2/CompilerIdC/CMakeCCompilerId.obj
out/build/x64-Release/CMakeFiles/3.20.21032501-MSVC_2/CompilerIdCXX/CMakeCXXCompilerId.cpp
out/build/x64-Release/CMakeFiles/3.20.21032501-MSVC_2/CompilerIdCXX/CMakeCXXCompilerId.exe
out/build/x64-Release/CMakeFiles/3.20.21032501-MSVC_2/CompilerIdCXX/CMakeCXXCompilerId.obj
out/build/x64-Release/CMakeFiles/cmake.check_cache
out/build/x64-Release/CMakeFiles/CMakeOutput.log
out/build/x64-Release/CMakeFiles/rules.ninja
out/build/x64-Release/CMakeFiles/ShowIncludes/foo.h
out/build/x64-Release/CMakeFiles/ShowIncludes/main.c
out/build/x64-Release/CMakeFiles/ShowIncludes/main.obj
out/build/x64-Release/CMakeFiles/TargetDirectories.txt
out/build/x64-Release/Platform/SDL2/Asset/Icon/taref-icon.icns
out/build/x64-Release/Platform/SDL2/Asset/Icon/taref-icon.png
out/build/x64-Release/Platform/SDL2/Asset/Icon/taref-icon.xcf
out/build/x64-Release/Platform/SDL2/Asset/Sprites/invertedshak.png
out/build/x64-Release/Platform/SDL2/Client.exe
out/build/x64-Release/Platform/SDL2/Client.ilk
out/build/x64-Release/Platform/SDL2/Client.pdb
out/build/x64-Release/Platform/SDL2/cmake_install.cmake
out/build/x64-Release/Platform/SDL2/CMakeFiles/Client.dir/embed.manifest
out/build/x64-Release/Platform/SDL2/CMakeFiles/Client.dir/Game.cpp.obj
out/build/x64-Release/Platform/SDL2/CMakeFiles/Client.dir/intermediate.manifest
out/build/x64-Release/Platform/SDL2/CMakeFiles/Client.dir/manifest.rc
out/build/x64-Release/Platform/SDL2/CMakeFiles/Client.dir/manifest.res
out/build/x64-Release/Platform/SDL2/CMakeFiles/Client.dir/vc140.pdb
out/build/x64-Release/Platform/SDL2/CMakeFiles/PlatformSDL2.dir/__/__/ShakTetrisClient.cpp.obj
out/build/x64-Release/Platform/SDL2/CMakeFiles/PlatformSDL2.dir/entity.cpp.obj
out/build/x64-Release/Platform/SDL2/CMakeFiles/PlatformSDL2.dir/Game.cpp.obj
out/build/x64-Release/Platform/SDL2/CMakeFiles/PlatformSDL2.dir/PlatformSDL2.pdb
out/build/x64-Release/Platform/SDL2/CMakeFiles/PlatformSDL2.dir/RenderWindow.cpp.obj
out/build/x64-Release/Platform/SDL2/libpng16.dll
out/build/x64-Release/Platform/SDL2/PlatformSDL2.lib
out/build/x64-Release/Platform/SDL2/SDL2.dll
out/build/x64-Release/Platform/SDL2/SDL2_image.dll
out/build/x64-Release/Platform/SDL2/zlib1.dll
out/build/x64-Release/Testing/Temporary/LastTest.log
out/build/x64-Release/VSInheritEnvironments.txt
out/build/x86-Release/.cmake/api/v1/query/client-MicrosoftVS/query.json
out/build/x86-Release/.cmake/api/v1/reply/cache-v2-2acbdb473ada871b7578.json
out/build/x86-Release/.cmake/api/v1/reply/cmakeFiles-v1-4409d2e99e8fcdd419b0.json
out/build/x86-Release/.cmake/api/v1/reply/codemodel-v2-315b5e3e85cd80163f16.json
out/build/x86-Release/.cmake/api/v1/reply/index-2021-07-14T08-37-53-0040.json
out/build/x86-Release/.cmake/api/v1/reply/target-Client-RelWithDebInfo-ab45127db9bd7c378370.json
out/build/x86-Release/.cmake/api/v1/reply/target-PlatformSDL2-RelWithDebInfo-e6f62adf25c4e18b4697.json
out/build/x86-Release/.cmake/api/v1/reply/toolchains-v1-57f1197e987c34b23c1b.json
out/build/x86-Release/.ninja_deps
out/build/x86-Release/.ninja_log
out/build/x86-Release/build.ninja
out/build/x86-Release/cmake_install.cmake
out/build/x86-Release/CMakeCache.txt
out/build/x86-Release/CMakeFiles/3.20.21032501-MSVC_2/CMakeCCompiler.cmake
out/build/x86-Release/CMakeFiles/3.20.21032501-MSVC_2/CMakeCXXCompiler.cmake
out/build/x86-Release/CMakeFiles/3.20.21032501-MSVC_2/CMakeDetermineCompilerABI_C.bin
out/build/x86-Release/CMakeFiles/3.20.21032501-MSVC_2/CMakeDetermineCompilerABI_CXX.bin
out/build/x86-Release/CMakeFiles/3.20.21032501-MSVC_2/CMakeRCCompiler.cmake
out/build/x86-Release/CMakeFiles/3.20.21032501-MSVC_2/CMakeSystem.cmake
out/build/x86-Release/CMakeFiles/3.20.21032501-MSVC_2/CompilerIdC/CMakeCCompilerId.c
out/build/x86-Release/CMakeFiles/3.20.21032501-MSVC_2/CompilerIdC/CMakeCCompilerId.exe
out/build/x86-Release/CMakeFiles/3.20.21032501-MSVC_2/CompilerIdC/CMakeCCompilerId.obj
out/build/x86-Release/CMakeFiles/3.20.21032501-MSVC_2/CompilerIdCXX/CMakeCXXCompilerId.cpp
out/build/x86-Release/CMakeFiles/3.20.21032501-MSVC_2/CompilerIdCXX/CMakeCXXCompilerId.exe
out/build/x86-Release/CMakeFiles/3.20.21032501-MSVC_2/CompilerIdCXX/CMakeCXXCompilerId.obj
out/build/x86-Release/CMakeFiles/cmake.check_cache
out/build/x86-Release/CMakeFiles/CMakeOutput.log
out/build/x86-Release/CMakeFiles/rules.ninja
out/build/x86-Release/CMakeFiles/ShowIncludes/foo.h
out/build/x86-Release/CMakeFiles/ShowIncludes/main.c
out/build/x86-Release/CMakeFiles/ShowIncludes/main.obj
out/build/x86-Release/CMakeFiles/TargetDirectories.txt
out/build/x86-Release/Platform/SDL2/Client.exe
out/build/x86-Release/Platform/SDL2/Client.ilk
out/build/x86-Release/Platform/SDL2/Client.pdb
out/build/x86-Release/Platform/SDL2/cmake_install.cmake
out/build/x86-Release/Platform/SDL2/CMakeFiles/Client.dir/embed.manifest
out/build/x86-Release/Platform/SDL2/CMakeFiles/Client.dir/Game.cpp.obj
out/build/x86-Release/Platform/SDL2/CMakeFiles/Client.dir/intermediate.manifest
out/build/x86-Release/Platform/SDL2/CMakeFiles/Client.dir/manifest.rc
out/build/x86-Release/Platform/SDL2/CMakeFiles/Client.dir/manifest.res
out/build/x86-Release/Platform/SDL2/CMakeFiles/Client.dir/vc140.pdb
out/build/x86-Release/Platform/SDL2/CMakeFiles/PlatformSDL2.dir/Game.cpp.obj
out/build/x86-Release/Platform/SDL2/CMakeFiles/PlatformSDL2.dir/PlatformSDL2.pdb
out/build/x86-Release/Platform/SDL2/PlatformSDL2.lib
out/build/x86-Release/Platform/SDL2/SDL2.dll
out/build/x86-Release/Testing/Temporary/LastTest.log
out/build/x86-Release/VSInheritEnvironments.txt
.vs/ShakTetrisClient/v16/ipch/AutoPCH/fc9e3f2fe3e32c16/GAME.ipch
.vs/ShakTetrisClient/v16/ipch/AutoPCH/f4bccfe5d51410b/RENDERERWINDOW.ipch
.vs/ShakTetrisClient/v16/ipch/AutoPCH/a23ae7a1436344f5/SHAKTETRISCLIENT.ipch
.vs/ShakTetrisClient/v16/ipch/AutoPCH/a19e9540d63f8254/GAME.ipch
.vs/ShakTetrisClient/v16/ipch/AutoPCH/943089346f202a80/GAME.ipch
.vs/ShakTetrisClient/v16/ipch/AutoPCH/8c3e4577c2569c9f/ENTITY.ipch
.vs/ShakTetrisClient/v16/ipch/AutoPCH/612e9f9eb746d6c1/SHAKTETRISCLIENT.ipch
.vs/ShakTetrisClient/v16/ipch/AutoPCH/4b42825363052d52/GAME.ipch
.vs/ShakTetrisClient/v16/ipch/AutoPCH/2e1ae2c64f08467f/RENDERERWINDOW.ipch
.vs/ShakTetrisClient/v16/ipch/AutoPCH/2b9f46791b22130/RENDERWINDOW.ipch
.vs/ShakTetrisClient/v16/ipch/AutoPCH/13c5475b9e34c279/SHAKTETRISCLIENT.ipch
.vs/ShakTetrisClient/v16/Browse.VC.db
.vs/ShakTetrisClient/v16/.suo
.vs/ProjectSettings.json
.vs/cmake.db
.vs/CMake Overview
.gitattributes
