
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
out/build/x64-Debug/.cmake/api/v1/query/client-MicrosoftVS/query.json
out/build/x64-Debug/.cmake/api/v1/reply/cache-v2-6bc97d0428d44aa6823c.json
out/build/x64-Debug/.cmake/api/v1/reply/cmakeFiles-v1-735bf77e6f6c25903968.json
out/build/x64-Debug/.cmake/api/v1/reply/codemodel-v2-e853c4f312f643893486.json
out/build/x64-Debug/.cmake/api/v1/reply/index-2021-07-14T07-47-37-0416.json
out/build/x64-Debug/.cmake/api/v1/reply/target-Client-Debug-c6475b9c86269595426a.json
out/build/x64-Debug/.cmake/api/v1/reply/target-PlatformSDL2-Debug-73391863e48d57a1b5e8.json
out/build/x64-Debug/.cmake/api/v1/reply/toolchains-v1-94a229cb921bcef4d0e9.json
out/build/x64-Debug/build.ninja
out/build/x64-Debug/cmake_install.cmake
out/build/x64-Debug/CMakeCache.txt
out/build/x64-Debug/CMakeFiles/3.20.21032501-MSVC_2/CMakeCCompiler.cmake
out/build/x64-Debug/CMakeFiles/3.20.21032501-MSVC_2/CMakeCXXCompiler.cmake
out/build/x64-Debug/CMakeFiles/3.20.21032501-MSVC_2/CMakeDetermineCompilerABI_C.bin
out/build/x64-Debug/CMakeFiles/3.20.21032501-MSVC_2/CMakeDetermineCompilerABI_CXX.bin
out/build/x64-Debug/CMakeFiles/3.20.21032501-MSVC_2/CMakeRCCompiler.cmake
out/build/x64-Debug/CMakeFiles/3.20.21032501-MSVC_2/CMakeSystem.cmake
out/build/x64-Debug/CMakeFiles/3.20.21032501-MSVC_2/CompilerIdC/CMakeCCompilerId.c
out/build/x64-Debug/CMakeFiles/3.20.21032501-MSVC_2/CompilerIdC/CMakeCCompilerId.exe
out/build/x64-Debug/CMakeFiles/3.20.21032501-MSVC_2/CompilerIdC/CMakeCCompilerId.obj
out/build/x64-Debug/CMakeFiles/3.20.21032501-MSVC_2/CompilerIdCXX/CMakeCXXCompilerId.cpp
out/build/x64-Debug/CMakeFiles/3.20.21032501-MSVC_2/CompilerIdCXX/CMakeCXXCompilerId.exe
out/build/x64-Debug/CMakeFiles/3.20.21032501-MSVC_2/CompilerIdCXX/CMakeCXXCompilerId.obj
out/build/x64-Debug/CMakeFiles/cmake.check_cache
out/build/x64-Debug/CMakeFiles/CMakeOutput.log
out/build/x64-Debug/CMakeFiles/rules.ninja
out/build/x64-Debug/CMakeFiles/ShowIncludes/foo.h
out/build/x64-Debug/CMakeFiles/ShowIncludes/main.c
out/build/x64-Debug/CMakeFiles/ShowIncludes/main.obj
out/build/x64-Debug/CMakeFiles/TargetDirectories.txt
out/build/x64-Debug/Platform/SDL2/cmake_install.cmake
out/build/x64-Debug/Testing/Temporary/LastTest.log
out/build/x64-Debug/VSInheritEnvironments.txt
out/build/x64-Release/.cmake/api/v1/query/client-MicrosoftVS/query.json
out/build/x64-Release/.cmake/api/v1/reply/cache-v2-e0eb393a1e89f25e5476.json
out/build/x64-Release/.cmake/api/v1/reply/cmakeFiles-v1-05a0b03cf1e35da84381.json
out/build/x64-Release/.cmake/api/v1/reply/codemodel-v2-ac544d0baa576fb7cdf0.json
out/build/x64-Release/.cmake/api/v1/reply/index-2021-07-14T15-44-14-0062.json
out/build/x64-Release/.cmake/api/v1/reply/target-Client-RelWithDebInfo-9944c34863e6c58b7ee7.json
out/build/x64-Release/.cmake/api/v1/reply/target-PlatformSDL2-RelWithDebInfo-3ed1d98ef994432cc0aa.json
out/build/x64-Release/.cmake/api/v1/reply/toolchains-v1-94a229cb921bcef4d0e9.json
out/build/x64-Release/.ninja_deps
out/build/x64-Release/.ninja_log
out/build/x64-Release/build.ninja
out/build/x64-Release/cmake_install.cmake
out/build/x64-Release/CMakeCache.txt
out/build/x64-Release/CMakeFiles/3.20.21032501-MSVC_2/CMakeCCompiler.cmake
out/build/x64-Release/CMakeFiles/3.20.21032501-MSVC_2/CMakeCXXCompiler.cmake
out/build/x64-Release/CMakeFiles/3.20.21032501-MSVC_2/CMakeDetermineCompilerABI_C.bin
out/build/x64-Release/CMakeFiles/3.20.21032501-MSVC_2/CMakeDetermineCompilerABI_CXX.bin
out/build/x64-Release/CMakeFiles/3.20.21032501-MSVC_2/CMakeRCCompiler.cmake
out/build/x64-Release/CMakeFiles/3.20.21032501-MSVC_2/CMakeSystem.cmake
out/build/x64-Release/CMakeFiles/3.20.21032501-MSVC_2/CompilerIdC/CMakeCCompilerId.c
out/build/x64-Release/CMakeFiles/3.20.21032501-MSVC_2/CompilerIdC/CMakeCCompilerId.exe
out/build/x64-Release/CMakeFiles/3.20.21032501-MSVC_2/CompilerIdC/CMakeCCompilerId.obj
out/build/x64-Release/CMakeFiles/3.20.21032501-MSVC_2/CompilerIdCXX/CMakeCXXCompilerId.cpp
out/build/x64-Release/CMakeFiles/3.20.21032501-MSVC_2/CompilerIdCXX/CMakeCXXCompilerId.exe
out/build/x64-Release/CMakeFiles/3.20.21032501-MSVC_2/CompilerIdCXX/CMakeCXXCompilerId.obj
out/build/x64-Release/CMakeFiles/cmake.check_cache
out/build/x64-Release/CMakeFiles/CMakeOutput.log
out/build/x64-Release/CMakeFiles/rules.ninja
out/build/x64-Release/CMakeFiles/ShowIncludes/foo.h
out/build/x64-Release/CMakeFiles/ShowIncludes/main.c
out/build/x64-Release/CMakeFiles/ShowIncludes/main.obj
out/build/x64-Release/CMakeFiles/TargetDirectories.txt
out/build/x64-Release/Platform/SDL2/Asset/Icon/taref-icon.icns
out/build/x64-Release/Platform/SDL2/Asset/Icon/taref-icon.png
out/build/x64-Release/Platform/SDL2/Asset/Icon/taref-icon.xcf
out/build/x64-Release/Platform/SDL2/Asset/Sprites/invertedshak.png
out/build/x64-Release/Platform/SDL2/Client.exe
out/build/x64-Release/Platform/SDL2/Client.ilk
out/build/x64-Release/Platform/SDL2/Client.pdb
out/build/x64-Release/Platform/SDL2/cmake_install.cmake
out/build/x64-Release/Platform/SDL2/CMakeFiles/Client.dir/embed.manifest
out/build/x64-Release/Platform/SDL2/CMakeFiles/Client.dir/Game.cpp.obj
out/build/x64-Release/Platform/SDL2/CMakeFiles/Client.dir/intermediate.manifest
out/build/x64-Release/Platform/SDL2/CMakeFiles/Client.dir/manifest.rc
out/build/x64-Release/Platform/SDL2/CMakeFiles/Client.dir/manifest.res
out/build/x64-Release/Platform/SDL2/CMakeFiles/Client.dir/vc140.pdb
out/build/x64-Release/Platform/SDL2/CMakeFiles/PlatformSDL2.dir/__/__/ShakTetrisClient.cpp.obj
out/build/x64-Release/Platform/SDL2/CMakeFiles/PlatformSDL2.dir/entity.cpp.obj
out/build/x64-Release/Platform/SDL2/CMakeFiles/PlatformSDL2.dir/Game.cpp.obj
out/build/x64-Release/Platform/SDL2/CMakeFiles/PlatformSDL2.dir/PlatformSDL2.pdb
out/build/x64-Release/Platform/SDL2/CMakeFiles/PlatformSDL2.dir/RenderWindow.cpp.obj
out/build/x64-Release/Platform/SDL2/libpng16.dll
out/build/x64-Release/Platform/SDL2/PlatformSDL2.lib
out/build/x64-Release/Platform/SDL2/SDL2.dll
out/build/x64-Release/Platform/SDL2/SDL2_image.dll
out/build/x64-Release/Platform/SDL2/zlib1.dll
out/build/x64-Release/Testing/Temporary/LastTest.log
out/build/x64-Release/VSInheritEnvironments.txt
out/build/x86-Release/.cmake/api/v1/query/client-MicrosoftVS/query.json
out/build/x86-Release/.cmake/api/v1/reply/cache-v2-2acbdb473ada871b7578.json
out/build/x86-Release/.cmake/api/v1/reply/cmakeFiles-v1-4409d2e99e8fcdd419b0.json
out/build/x86-Release/.cmake/api/v1/reply/codemodel-v2-315b5e3e85cd80163f16.json
out/build/x86-Release/.cmake/api/v1/reply/index-2021-07-14T08-37-53-0040.json
out/build/x86-Release/.cmake/api/v1/reply/target-Client-RelWithDebInfo-ab45127db9bd7c378370.json
out/build/x86-Release/.cmake/api/v1/reply/target-PlatformSDL2-RelWithDebInfo-e6f62adf25c4e18b4697.json
out/build/x86-Release/.cmake/api/v1/reply/toolchains-v1-57f1197e987c34b23c1b.json
out/build/x86-Release/.ninja_deps
out/build/x86-Release/.ninja_log
out/build/x86-Release/build.ninja
out/build/x86-Release/cmake_install.cmake
out/build/x86-Release/CMakeCache.txt
out/build/x86-Release/CMakeFiles/3.20.21032501-MSVC_2/CMakeCCompiler.cmake
out/build/x86-Release/CMakeFiles/3.20.21032501-MSVC_2/CMakeCXXCompiler.cmake
out/build/x86-Release/CMakeFiles/3.20.21032501-MSVC_2/CMakeDetermineCompilerABI_C.bin
out/build/x86-Release/CMakeFiles/3.20.21032501-MSVC_2/CMakeDetermineCompilerABI_CXX.bin
out/build/x86-Release/CMakeFiles/3.20.21032501-MSVC_2/CMakeRCCompiler.cmake
out/build/x86-Release/CMakeFiles/3.20.21032501-MSVC_2/CMakeSystem.cmake
out/build/x86-Release/CMakeFiles/3.20.21032501-MSVC_2/CompilerIdC/CMakeCCompilerId.c
out/build/x86-Release/CMakeFiles/3.20.21032501-MSVC_2/CompilerIdC/CMakeCCompilerId.exe
out/build/x86-Release/CMakeFiles/3.20.21032501-MSVC_2/CompilerIdC/CMakeCCompilerId.obj
out/build/x86-Release/CMakeFiles/3.20.21032501-MSVC_2/CompilerIdCXX/CMakeCXXCompilerId.cpp
out/build/x86-Release/CMakeFiles/3.20.21032501-MSVC_2/CompilerIdCXX/CMakeCXXCompilerId.exe
out/build/x86-Release/CMakeFiles/3.20.21032501-MSVC_2/CompilerIdCXX/CMakeCXXCompilerId.obj
out/build/x86-Release/CMakeFiles/cmake.check_cache
out/build/x86-Release/CMakeFiles/CMakeOutput.log
out/build/x86-Release/CMakeFiles/rules.ninja
out/build/x86-Release/CMakeFiles/ShowIncludes/foo.h
out/build/x86-Release/CMakeFiles/ShowIncludes/main.c
out/build/x86-Release/CMakeFiles/ShowIncludes/main.obj
out/build/x86-Release/CMakeFiles/TargetDirectories.txt
out/build/x86-Release/Platform/SDL2/Client.exe
out/build/x86-Release/Platform/SDL2/Client.ilk
out/build/x86-Release/Platform/SDL2/Client.pdb
out/build/x86-Release/Platform/SDL2/cmake_install.cmake
out/build/x86-Release/Platform/SDL2/CMakeFiles/Client.dir/embed.manifest
out/build/x86-Release/Platform/SDL2/CMakeFiles/Client.dir/Game.cpp.obj
out/build/x86-Release/Platform/SDL2/CMakeFiles/Client.dir/intermediate.manifest
out/build/x86-Release/Platform/SDL2/CMakeFiles/Client.dir/manifest.rc
out/build/x86-Release/Platform/SDL2/CMakeFiles/Client.dir/manifest.res
out/build/x86-Release/Platform/SDL2/CMakeFiles/Client.dir/vc140.pdb
out/build/x86-Release/Platform/SDL2/CMakeFiles/PlatformSDL2.dir/Game.cpp.obj
out/build/x86-Release/Platform/SDL2/CMakeFiles/PlatformSDL2.dir/PlatformSDL2.pdb
out/build/x86-Release/Platform/SDL2/PlatformSDL2.lib
out/build/x86-Release/Platform/SDL2/SDL2.dll
out/build/x86-Release/Testing/Temporary/LastTest.log
out/build/x86-Release/VSInheritEnvironments.txt
.vs/ShakTetrisClient/v16/ipch/AutoPCH/fc9e3f2fe3e32c16/GAME.ipch
.vs/ShakTetrisClient/v16/ipch/AutoPCH/f4bccfe5d51410b/RENDERERWINDOW.ipch
.vs/ShakTetrisClient/v16/ipch/AutoPCH/a23ae7a1436344f5/SHAKTETRISCLIENT.ipch
.vs/ShakTetrisClient/v16/ipch/AutoPCH/a19e9540d63f8254/GAME.ipch
.vs/ShakTetrisClient/v16/ipch/AutoPCH/943089346f202a80/GAME.ipch
.vs/ShakTetrisClient/v16/ipch/AutoPCH/8c3e4577c2569c9f/ENTITY.ipch
.vs/ShakTetrisClient/v16/ipch/AutoPCH/612e9f9eb746d6c1/SHAKTETRISCLIENT.ipch
.vs/ShakTetrisClient/v16/ipch/AutoPCH/4b42825363052d52/GAME.ipch
.vs/ShakTetrisClient/v16/ipch/AutoPCH/2e1ae2c64f08467f/RENDERERWINDOW.ipch
.vs/ShakTetrisClient/v16/ipch/AutoPCH/2b9f46791b22130/RENDERWINDOW.ipch
.vs/ShakTetrisClient/v16/ipch/AutoPCH/13c5475b9e34c279/SHAKTETRISCLIENT.ipch
.vs/ShakTetrisClient/v16/Browse.VC.db
.vs/ShakTetrisClient/v16/.suo
.vs/ProjectSettings.json
.vs/cmake.db
.vs/CMake Overview
.gitattributes
.vs/ShakTetrisClient/v16/Browse.VC.db-shm
.vs/ShakTetrisClient/v16/Browse.VC.db-wal
.vs/ShakTetrisClient/v16/Browse.VC.opendb
.vs/ShakTetrisClient/v16/ipch/AutoPCH/107f6bff9880918d/SHAKTETRISCLIENT.ipch
.vs/ShakTetrisClient/v16/ipch/AutoPCH/138ee3ebeb25fbeb/SHAKTETRISCLIENT.ipch
.vs/ShakTetrisClient/v16/ipch/AutoPCH/14dc16adfe51da8e/RENDERWINDOW.ipch
.vs/ShakTetrisClient/v16/ipch/AutoPCH/1e87e6a01024f1a0/GAME.ipch
.vs/ShakTetrisClient/v16/ipch/AutoPCH/328e5f1ab28668d4/GAME.ipch
.vs/ShakTetrisClient/v16/ipch/AutoPCH/6fe99469aa220770/KEYBOARD.ipch
.vs/ShakTetrisClient/v16/ipch/AutoPCH/877ddfd49e7cd3c0/RENDERWINDOW.ipch
.vs/ShakTetrisClient/v16/ipch/AutoPCH/af5126ea958a538f/ENTITY.ipch
.vs/ShakTetrisClient/v16/ipch/AutoPCH/b0dc3bf020a07305/SHAKTETRISCLIENT.ipch
.vs/ShakTetrisClient/v16/ipch/AutoPCH/b61e6f8db0ea38e2/GAME.ipch
.vs/ShakTetrisClient/v16/ipch/AutoPCH/c2bc951f65b14076/GAME.ipch
out/build/x64-Release/.cmake/api/v1/reply/cache-v2-db341492ccd750acadc5.json
out/build/x64-Release/.cmake/api/v1/reply/cmakeFiles-v1-2f5ac5a5b6ae1468e10e.json
out/build/x64-Release/.cmake/api/v1/reply/codemodel-v2-fde18a67fdbfc8f1b610.json
out/build/x64-Release/.cmake/api/v1/reply/index-2021-07-17T09-23-45-0854.json
out/build/x64-Release/.cmake/api/v1/reply/target-Client-RelWithDebInfo-4ea3cfca0000d6a5526e.json
out/build/x64-Release/.cmake/api/v1/reply/target-PlatformSDL2-RelWithDebInfo-e758989459e615ab5307.json
out/build/x64-Release/.cmake/api/v1/reply/toolchains-v1-63f90e33fc45b2e9618b.json
out/build/x64-Release/ShakTris/cmake_install.cmake
out/build/x64-Release/ShakTris/Keyboard/cmake_install.cmake
.vs/ShakTetrisClient/v16/ipch/AutoPCH/1ea4b23b0398ab1d/INI.ipch
.vs/ShakTetrisClient/v16/ipch/AutoPCH/84cd1bd6044d124b/SIMPLEINIPARSER.ipch
.vs/ShakTetrisClient/v16/ipch/AutoPCH/88f590c68d47b139/INIHELPER.ipch
.vs/ShakTetrisClient/v16/ipch/AutoPCH/e3f2d4e2aec90990/INIOPTION.ipch
out/build/x64-Release/.cmake/api/v1/reply/codemodel-v2-a10a2328ee1b28b0f136.json
out/build/x64-Release/.cmake/api/v1/reply/index-2021-07-17T19-52-12-0641.json
out/build/x64-Release/.cmake/api/v1/reply/target-Client-RelWithDebInfo-17b0471f3f4b354fc58c.json
out/build/x64-Release/.cmake/api/v1/reply/target-PlatformSDL2-RelWithDebInfo-fa4c4b4c9479d573bf3d.json
.vs/ShakTetrisClient/v16/ipch/AutoPCH/406de86b08b07ea0/GAME.ipch
.vs/ShakTetrisClient/v16/ipch/AutoPCH/79a50e5970e3c6ea/RENDERWINDOW.ipch
.vs/ShakTetrisClient/v16/ipch/AutoPCH/863fc7299c1008e1/ENTITY.ipch
.vs/ShakTetrisClient/v16/ipch/AutoPCH/953c68b93d55174f/SHAKTETRISCLIENT.ipch
.vs/ShakTetrisClient/v16/ipch/AutoPCH/cab38a6d2e7390af/INPUT.ipch
.vs/ShakTetrisClient/v16/ipch/AutoPCH/d72566a9aeda346c/GAME.ipch
.vs/ShakTetrisClient/v16/ipch/AutoPCH/e1cd181df000b752/KEYBOARD.ipch
.vs/ShakTetrisClient/v16/ipch/AutoPCH/fa54f0e89df4b49d/INPUT.ipch
*.obj
*.xcf
*.7z
*.lib
*.dll
*.pdb
*.rc
*.manifest
*.ilk
*.exe
*.res
out/build/x64-Release/Platform/SDL2/Asset/Sprites/Tetris_images/Maxtrix.png
out/build/x64-Release/Platform/SDL2/Asset/Sprites/Tetris_images/Matrix.png
out/build/x64-Release/Platform/SDL2/Asset/Sprites/highlightedmenu.png
out/build/x64-Release/Platform/SDL2/Asset/Sprites/blankmenu.png
out/build/x64-Release/Platform/SDL2/Asset/Icon/shaktris-icon.png
out/build/x64-Release/Platform/SDL2/Asset/Icon/shaktris-icon.icns
out/build/x64-Release/.cmake/api/v1/reply/target-PlatformSDL2-RelWithDebInfo-9ce26b390e02e6b58a64.json
out/build/x64-Release/.cmake/api/v1/reply/index-2021-07-19T02-55-45-0068.json
out/build/x64-Release/.cmake/api/v1/reply/codemodel-v2-5b21a67562b00fc674ee.json
out/build/x64-Debug/Platform/SDL2/Asset/Sprites/Tetris_images/Matrix.png
out/build/x64-Debug/Platform/SDL2/Asset/Sprites/invertedshak.png
out/build/x64-Debug/Platform/SDL2/Asset/Sprites/highlightedmenu.png
out/build/x64-Debug/Platform/SDL2/Asset/Sprites/blankmenu.png
out/build/x64-Debug/Platform/SDL2/Asset/Icon/shaktris-icon.png
out/build/x64-Debug/Platform/SDL2/Asset/Icon/shaktris-icon.icns
out/build/x64-Debug/.ninja_log
out/build/x64-Debug/.ninja_deps
out/build/x64-Debug/.cmake/api/v1/reply/toolchains-v1-63f90e33fc45b2e9618b.json
out/build/x64-Debug/.cmake/api/v1/reply/target-PlatformSDL2-Debug-0ce5d25bca295d073a36.json
out/build/x64-Debug/.cmake/api/v1/reply/target-Client-Debug-ba9b3c1f71d0fb759d3e.json
out/build/x64-Debug/.cmake/api/v1/reply/index-2021-07-19T20-53-54-0827.json
out/build/x64-Debug/.cmake/api/v1/reply/codemodel-v2-961e12d4322b98d695d4.json
out/build/x64-Debug/.cmake/api/v1/reply/cmakeFiles-v1-47a5dbf237d743c4f6b9.json
out/build/x64-Debug/.cmake/api/v1/reply/cache-v2-32855821b1f624787cc4.json
